@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: black;
  background-color: white;
}

* ::selection {
  color: #4E5166;
  background: #FFD7D7;
}

/* Classes pour le champs de signup */
.signup {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.hide {
  display: none;
}

.valid {
  color: green;
  margin-left: 0.25rem;
}

.invalid {
  color: black;
  margin-left: 0.25rem;
  margin-bottom: 2px;
  vertical-align: bottom;
  font-size: 12px;
}

#signup-form .btn-signup {
  margin-top: 8px;
  background-color: green;
}
#signup-form .btn-signup-disabled {
  margin-top: 8px;
  background-color: #FD2D01;
  color: black;
}

/*NAVBAR Styles Desktop*/
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #FD2D01;
}
.navbar .links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #FD2D01;
}


.navbar button {
  margin-left: 20px;
}
.logout {
  color: black; 
  background: #FD2D01;
  font-weight: bold;
  border: 0px ;
  border-radius: 8px; 
  height: 31px;
}
.logout:hover {
 
  background: #FD2D01;
  border-radius: 8px; 
  height: 31px;
}
.login {
  color: white; 
  background: green;
  border-radius: 8px; 
}

.content {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #FD2D01;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

.blog-preview button{
  border-radius: 25px;
  background-color: #FD2D01;
  color: black;
}

.AiLike {
  background-color: #FD2D01;
  
}



/* blog details page */
.blog-details {
  border: solid 3px white ;
  border-radius: 25px ;
  padding: 10px;
}

.blog-details h2 {
  font-size: 20px;
  color: #FFD7D7;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #FD2D01 ;
  color: black;

  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  max-width: 50%;
}
.blog-details button:disabled {
  background: grey ;
  color: black;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color:#FD2D01;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #FD2D01;
  color: black;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.mellon {
  margin: 10px;
}



.blog-details {
  margin: 5px;
}

.image-container {

  object-fit: cover;
  max-width: 50%;
  height: 150px;
}



@media only screen and (max-width: 768px)
{
  .navbar {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
  }

  .navbar .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .navbar button {
    margin: 2px;
    margin-top: 5px;
  
  }

  .content {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
  }

 

}